# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
build/
src-tauri/target/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
/logs/

# Editor directories
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.local
.env.production

# OS
Thumbs.db
